<img src="http://phillyprgirl.com/wp-content/uploads/2014/01/philadelphia.png" alt="Philadelphia" width="242" height="70" />
<h1 id="title" style="display:inline"><em>Philly Code Camp - 2015</em></h1>
<hr />
{{outlet}}
